{% extends getPartial('page-design') %}
{% block PageBody %}
    <div class="container-max">
        <h1>Amazon Checkout</h1>
        {% if (error != '') or (walletOnly == 1) %}
            <div class="alert alert-danger">
                {% if (error == 'InvalidPaymentMethod') or (error == 'TransactionTimeout') or (walletOnly == 1) %}
                    Bitte w&auml;hlen Sie eine andere Zahlungsart
                {% else %}
                    {{ error }}
                {% endif %}
            </div>
        {% endif %}
        <!--<div><b>ID</b>: {{ userData.user_id }}</div>
    <div><b>Name</b>: {{ userData.name }}</div>
    <div><b>Postal code</b>: {{ userData.postal_code }}</div>
    <div><b>Email</b>: {{ userData.email }}</div>
    Place this code in your HTML where you would like the address widget to appear.
-->
        {% if walletOnly != 1 %}
            <div class="amz-checkout-box">
                <h2>Lieferadresse</h2>
                <div id="addressBookWidgetDiv"></div>
            </div>
        {% endif %}
        <div class="amz-checkout-box">
            <h2>Zahlungsart</h2>
            <div id="walletWidgetDiv"></div>
        </div>
        {% if walletOnly != 1 %}
            <div class="amz-checkout-box">
                <h2>Versandart</h2>
                <div id="shippingOptionsListWr" class="amz-border-box"></div>
            </div>
        {% endif %}
        <div class="amz-checkout-box">
            <h2>Zusammenfassung</h2>
            <div class="amz-border-box">
                <div id="orderDetailsWr">

                </div>
                <div class="amz-checkout-order-button-wr">
                    <a href="amazon-checkout-proceed" class="btn btn-primary">Bestellen</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var amazonLoginAndPay = {
                config: {
                    payButtonSize: '{{ config('AmazonLoginAndPay.payButtonSize') }}',
                    payButtonColor: '{{ config('AmazonLoginAndPay.payButtonColor') }}',
                    loginButtonSize: '{{ config('AmazonLoginAndPay.loginButtonSize') }}',
                    loginButtonColor: '{{ config('AmazonLoginAndPay.loginButtonColor') }}',
                    popup: true,
                    clientId: '{{ config('AmazonLoginAndPay.loginClientId') }}',
                    merchantId: '{{ config('AmazonLoginAndPay.merchantId') }}'
                },
                widgets: {}
            }
        </script>
        <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="//www.alkim.de/AmazonPaymentsShops/plentymarkets/js/amz-main.js"></script>
        <link href="//www.alkim.de/AmazonPaymentsShops/plentymarkets/js/amz-main.css" rel="stylesheet"/>

        {% if config('AmazonLoginAndPay.sandbox') == "true" %}
            <script async="async"
                    src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/sandbox/lpa/js/Widgets.js'></script>
        {% else %}
            <script async="async"
                    src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/lpa/js/Widgets.js'></script>
        {% endif %}

    </div>
{% endblock %}